@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 60px 0;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.mesa {
    display: grid;
    justify-content: center;
    align-items: center;

    gap: 5%;

    margin-bottom: 60px;
}

.card {
    display: flex;
    width: 117px;
    aspect-ratio: 3/4;

    position: relative;

    transition: all 400ms ease;
    transform-style: preserve-3d;

}

.back,
.front {
    display: flex;

    position: absolute;

    width: 100%;
    height: 100%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.back {
    border: 1px solid #99CEA8;
    border-radius: 5px;

    backface-visibility: hidden;

    background-color: #A7E9AF;
    background-image: url(../img/back.png);
}

.front {
    transform: rotateY(180deg);

    border-radius: 5px;

    background-color: rgb(241, 161, 217);
}

/*------------------------Virando as cartas--------------------------------*/
.virado {
    transform: rotateY(180deg);
}

.relogio {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #75B79E;
    font-size: 50px;

    position: fixed;
    top: 10px;
    right: 10px;
}

/*---------------------------Layout Mobile-----------------------------------*/
@media (max-width: 1050px){
    h1{
        font-size: 36px;
        text-align: center;
        width: 70%;
    }
}
@media (max-width: 650px) {
    h1 {
        width: 65%;
    }

    .mesa {
        display: flex;
        flex-direction: column;
        width: 35%;
        gap: 15px;

    }

    body {
        justify-content: center;
    }
}